<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>친구 정보 페이지</title>
    <link rel="stylesheet" href="/stylesheets/chat_info.css" />
  </head>
  <body>
    <div class="friends-container">
      <div class="friends-header">친구 목록</div>
      <ul class="friends-list" id="friends-list">
        <!-- 친구 목록 아이템 -->
        <li class="friend-item">
          <div class="friend-info">
            <img
              src="friend-photo-url.jpg"
              alt="친구 사진"
              class="friend-photo"
            />
            <div>
              <div class="friend-name">친구 이름</div>
              <div class="friend-status">상태 메시지</div>
            </div>
          </div>
        </li>
        <!-- 추가 친구 목록 아이템 -->
      </ul>

      <div class="bottom-bar">
        <img src="person-icon.png" alt="사람" class="icon" />
        <img src="chat-icon.png" alt="채팅" class="icon" />
      </div>
    </div>
  </body>
</html>
