<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>친구 정보 페이지</title>
    <link rel="stylesheet" href="/stylesheets/chat-info.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="friends-container">
      <div class="friends-header">
        <%= name %>님
        <div class="header-content"></div>
      </div>
      <div class="renderPage"></div>
    </div>

    <div id="addFriendModal" class="modal">
      <div class="modal-content">
        <h4>친구 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <input type="email" name="friendEmail" required id="friendEmail" />
        <button type="submit" id="modal-friend-button">Add</button>
      </div>
    </div>

    <div id="addChatModal" class="modal">
      <div class="modal-content">
        <h4>채팅방 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <input type="hidden" name="chatUserEmail" value="<%= userEmail %>" />
        <input
          type="email"
          name="chatFriendEmail"
          required
          id="chatFriendEmail"
        />
        <button type="submit" id="modal-chat-button">Add</button>
      </div>
    </div>
    <script src="/javascripts/friend.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/renderPage.js"></script>
  </body>
</html>
