<!-- 경로: app/views/chat-list.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/chat-list.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="chat-header-bottom">
      <span class="chat-count">채팅방 개</span>
      <img
        src="/images/add-friend-icon.png"
        alt="채팅방 추가"
        class="add-chat-icon"
        id="add-chat-button"
      />
    </div>
    <div class="chat-list">
      <ul>
        <% if (room.length > 0) { %>
          <% room.forEach(room => { %>
            <li class="chat">
              <div class="chat-info">
                <span class="chat-name">채팅방: <%= room.name %></span>
                <span class="chat-participants">
                  참여자: <%= room.participants.join(', ') %></span
            >
          </div>
          <button
            class="enter-chat-button"
          >
            입장
          </button>
        </li>
        <% }) %> <% } else { %>
       
        <% } %>
      </ul>
    </div>
    <div class="bottom-bar">
      <img
        src="/images/person-icon.png"
        alt="사람"
        class="icon"
        id="person-icon"
        onclick="loadFriendList('<%= userEmail %>')"
      />
      <img
        src="/images/chat-icon.png"
        alt="채팅"
        class="icon"
        id="chat-icon"
        onclick="loadChatList('<%= userEmail %>')"
      />
    </div>
    
    <script src="/javascripts/renderPage.js"></script>
    <script src="/javascripts/chatModal.js"></script>
    <script src="/javascripts/friend.js"></script>
  </body>
</html>
