<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>채팅창</title>
    <link rel="stylesheet" href="/stylesheets/chatRoom.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header"><%= roomName %></div>
      <ul class="chat-messages" id="chat-messages"></ul>
      <div class="chat-footer">
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <input
          type="text"
          class="chat-input"
          id="chat-input"
          placeholder="메시지 입력..."
        />
        <button class="send-button" id="send-button">보내기</button>
      </div>
    </div>
    <script src="/javascripts/chatRoom.js"></script>
    <script src="/javascripts/room.js"></script>
  </body>
</html>
