<!-- 경로 app/views/chat-info.ejs -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>친구 정보 페이지</title>
    <link rel="stylesheet" href="/stylesheets/chat-info.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="friends-container">
      <div class="friends-header">
        <%= name %>님
        <div class="header-content"></div>
      </div>
      <div class="renderPage"></div>
    </div>

    <!-- 친구 추가 모달 창 -->
    <div id="addFriendModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4>친구 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <!-- 사용자 이메일을 위한 숨겨진 필드 추가 -->
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <!-- 친구 이메일 입력 필드에 name 속성 추가 -->
        <input type="email" name="friendEmail" required id="friendEmail" />
        <button type="submit" id="modal-friend-button">Add</button>
      </div>
    </div>

     <!-- 채팅방 추가 모달 창 -->
    <div id="addChatModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4>채팅방 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <!-- 사용자 이메일을 위한 숨겨진 필드 추가 -->
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <!-- 친구 이메일 입력 필드에 name 속성 추가 -->
        <input type="email" name="friendEmail" required id="friendEmail" />
        <input type="submit" id="modal-chat-button">Add</input>
      </div>
    </div>
    <script src="/javascripts/friend.js"></script>
   
    <script src="/javascripts/chatModal.js"></script>

    <script src="/javascripts/renderPage.js"></script>
    <script src="/javascripts/chat.js"></script>
  </body>
</html>
