<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <form action="/signup" method="post">
      <h1>Sign up</h1>
      ID:<br /><input
        type="email"
        placeholder="이메일을 작성해주세요."
        name="email"
        id="email"
        required
      /><br />
      Password:<input
        type="password"
        placeholder="4자리의 숫자를 입력해주세요."
        id="password"
        name="password"
        required
        pattern="\d{4}"
        title="4자리 숫자를 입력해주세요."
      /><br />
      Name:<input
        type="text"
        placeholder="이름을 작성해주세요."
        id="name"
        name="name"
        required
      /><br />
      <button type="submit" id="loginButton">Submit</button>
      <p>Welcome to the chat.</p>
    </form>
  </body>
</html>
